[tool.poetry]
name = "cvxcla"
version = "0.0.0"
description = "Critical line algorithm for the efficient frontier"
authors = ["Philipp Schiele", "Thomas Schmelzer"]
readme = "README.md"
repository = "https://github.com/cvxgrp/cvxcla"
packages = [{include = "cvx"}]

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
numpy = "*"
scipy = "*"

[tool.poetry.dev-dependencies]
pytest = "7.2.0"
pytest-cov = "*"
plotly = "*"
cvxpy = "*"
jupyterlab = "*"
jupyter-book = "0.15.1"
loguru = "*"
cvxsimulator = "*"

[tool.poetry.group.linting.dependencies]
pylint = "*"
ruff = "0.0.277"
pre-commit = "*"
black = "23.3.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
select = ["E", "F", "I"]
line-length = 120
target-version = "py38"
exclude = [
    "*__init__.py"
]
