[tool.poetry]
name = "cvxcla"
version = "0.0.0"
description = "Critical line algorithm for the efficient frontier"
authors = ["Thomas Schmelzer", "Philipp Schiele"]
readme = "README.md"
repository = "https://github.com/cvxgrp/cvxcla"
packages = [{include = "cvx"}]
homepage = "https://www.cvxgrp.org/cvxcla"

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
numpy = "*"
scipy = ">=1.10.0"
plotly = "*"

[tool.poetry.dev-dependencies]
loguru = "*"
pandas = "*"
mosek = "*"
cvxpy = "*"
clarabel = "*"

[tool.poetry.group.test.dependencies]
pytest = "7.4.2"
pytest-cov = "4.1.0"
mock = "*"
cvxbson = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
select = ["E", "F", "I"]
line-length = 120
target-version = "py310"
exclude = [
    "*__init__.py",
    ".venv",
    "experiments"
]
