[project]
name = "cvxcla"
version = "1.5.1"
description = "Critical line algorithm for the efficient frontier"
readme = "README.md"
requires-python = ">=3.11"

dependencies = [
    "numpy>=2.0.0",
    "plotly>=6.0.1",
    "kaleido==1.2.0"
]

# add Philipp
authors = [{name = "Thomas Schmelzer", email = "thomas.schmelzer@gmail.com"},
           {name = "Philipp Schiele", email = "pschiele@stanford.edu"}]

[project.urls]
repository = "https://github.com/cvxgrp/cvxcla"


[dependency-groups]
dev = [
    "loguru==0.7.3",
    "mosek==11.1.2",
    "marimo==0.19.2",
    "pandas==2.3.3",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/cvxcla"]

[tool.deptry.per_rule_ignores]
DEP002 = ["kaleido"]
