[project]
name = "cvxcla"
version = "0.0.0"
description = "Critical line algorithm for the efficient frontier"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "numpy>=2.0.0",
    "plotly>=6.0.1",
    "kaleido==1.2.0"
]

# add Philipp
authors = [{name = "Thomas Schmelzer", email = "thomas.schmelzer@gmail.com"},
           {name = "Philipp Schiele", email = "pschiele@stanford.edu"}]

[project.urls]
repository = "https://github.com/cvxgrp/cvxcla"


[project.optional-dependencies]
dev = [
    "pytest-cov==7.0.0",
    "pytest==9.0.2",
    "pre-commit==4.5.0",
    "loguru==0.7.3",
    "mosek==11.0.30",
    "marimo==0.18.3",
    "pandas==2.3.3",
    "python-dotenv==1.2.1"
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["src/cvxcla"]

[tool.deptry.per_rule_ignores]
DEP002 = ["kaleido"]

[tool.deptry]
# see https://deptry.com/usage/#pep-621-dev-dependency-groups
pep621_dev_dependency_groups = ["dev"]

